*.zip
*.pyc
__pycache__/
.DS_Store
.env
data/

# audiofile extensions
*.webm
*.wav
*.mp3
*.ogg
*.json
*.npz
*.jams

# crnn folders
feat_folder

# ignore large files
*.pth
*.png
*.pkl
*.keras
*.npy

!diagrams/**